API_KEY=
SA_PASSWORD=
ACCEPT_EULA=Y
ConnectionStrings__SQLServerConnection=Server=sqlserver;Database=barbershop;User Id=sa;Password=your-sa-password-here;Trusted_Connection=False;TrustServerCertificate=True;
